.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #383b41;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:white;
  text-decoration: none;
}

.Return-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.starships-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(300px, 80vw, 1400px);
  margin:auto;
  justify-content: center;
  margin-top: 3%;
}

.starships-div, .starship-details-div {
  border: 1px solid #266666;
  border-radius: 5px;
  background-color: #266666;
  margin: 1rem;
  color: white;
  width: 260px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.starship-details-container {
  display: grid;
  justify-content: center;
  margin-top: 15%;
}

.starship-details-div {
  height: 100px;
  width: 390px;
  justify-content: left;
  line-height: 2.5;
  padding: 0px 0px 40px 15px
}



